body{
	/* width: 600px; */
	margin: 0 auto;
	/* border: 5px solid #02499B; */
	/* margin-top: 5%; */
	box-sizing: border-box;
	height: 89.8vh;
 }
  #app{
	height: 100%;
	box-sizing: border-box;
  }
 .users{
	float : right;
	margin-right: 30%;
 }
 
 .messages {
	width: 100%;
	/* height: 85%; */
	height: 550px;
	margin: auto;
	/* border : 1px solid black; */
	background-color: #E0E0E0;
	padding: 1em;
	box-sizing: border-box;
 }
 
 /* message */
 .message {
	 clear: both;
	 overflow: auto;
	 text-align: left;
	 padding: 10px;
	 display: flex;
	 align-items: center;
	 background-color: #EAEAEA;
	 margin-bottom: 10px;
	 box-sizing: border-box;
	 width: fit-content; 
	 max-width: 80%; 
	font-size: 13px;
 }
 
 .message img {
	 width: 20px;
	 height: 20px;
	 margin-right: 10px;
 }
 
 .message .text-container {
	 display: flex;
	 flex-direction: column;
 }
 
 .message .text-container .user-name {
	 font-weight: bold;
	 margin-bottom: 5px;
 }
 
 .user-message {
	 justify-content: flex-end; 
	 align-self: flex-end;
	 margin-left: auto; 
	 background-color: #D1E7DD; 
 }
 
 .other-user-message {
	 justify-content: flex-start; 
	 align-self: flex-start;
	 margin-right: auto; 
	 background-color: #F8D7DA; 
 }
 
 
 
 
 .message_form{
	padding: 5px;
	background-color: #E0E0E0;
 
 }
 .change_name_form{
	padding: 5px;
 }
 
 .textinput{
	/* margin-left: 3%; */
	width: 90%;
	height: 20px;
	float: left;
 }
 
 /* Header */
 .header {
	background-color: white;
	height: 5%;
	padding: 10px;
	box-sizing: border-box;
   }
   
   .logo {
	height: 50px; 
   }
 
 /* main */
 .main_container{
	width: 100%;
	height: 100%;
	/* height: 90vh; */
	display: flex;
 }
 
 .main_left{
	width: 40%;
	height: 100%;
	background-color: #F5F5F5;
	display: flex;
 }
 
 .main_right{
	width: 60%;
	/* height: 100%; */
	height: 100%;
	border: 1px solid black;
	background-color: #E0E0E0;
	box-sizing: border-box;
 }
 .message_name {
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 17px;
	padding: 20px;
	background-color: white;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 
 
 
   .send-button {
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 10px; 
   }
   
   .send-button img {
	width: 26px; 
	height: 26px; 
   }
 
   .drawer {
	height: 100%;
	width: 12%;
	padding: 20px;
	box-sizing: border-box;
	background-color: white;
	display: flex;
	flex-direction: column;
 }
 
 .drawer_item {
	margin-bottom: 50px;
	cursor: pointer;
 }
 
 .drawer_item img {
	width: 100%;
	height: 30px;
 }
 .search_room {
	width: 88%;
	height: 100%;
 }
 .search_room_top{
	width: 100%;
	height: 10%;
 }
 .search_room_input{
	width: 80%;
	padding: 10px;
	 border-radius: 5px;
	 border: 1px solid #02499B;
	margin: 10px;
	float: left;
 }
 
 .search_button{
	border: none;
	background: none;
	cursor: pointer;
	float: left;
	padding: 15px 5px;  
 }
 .search_button img {
	width: 25px; 
	height: 25px; 
 }
 .search_room_check{
	width: 100%;
	height: 20%;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 .search_room_exist{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid gray;
 }
 .search_room_exist p{
	font-size: 13px;
	font-weight: 600;
	float: left;
	padding: 5px;
 }
 .search_room_exist img{
	width: 30px; 
	height: 30px; 
	padding: 10px;
	float: left;
	
 }
 
 /* signup & login */
 .signup_form{
	 width: 400px;
	 height: 250px;
	 border: 5px solid #02499B;
	 border-radius: 20px;
	 text-align: center;
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
 }
 .form_input {
	 padding: 10px;
	 margin-bottom: 10px;
	 border-radius: 5px;
	 border: 1px solid #ccc;
 }
 .form_button {
	width: 30%;
	 padding: 10px;
	 background-color: #02499B;
	 color: white;
	 border: none;
	 border-radius: 5px;
	 cursor: pointer;
	margin: 5px;
 }
 .form_button:hover {
	background-color: #023373;
 }
 .form_modal{
	background: white;
	padding: 20px;
	border: 5px solid lightgray;
	border-radius: 20px;
	width: 300px;
	height: 150px;
	text-align: center;
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }